* {
  box-sizing: border-box; }

  body#backdrop {
    background: url(../pictures/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    
h1 {font-weight: 580;}


h1.header {
  margin-top: 0;
  text-align: center;


  font-family: "Readex Pro" ,Verdana, sans-serif;
  line-height: 1.5; 

  color: #fff;
  text-shadow: 8px 0 0 #000, 0 1px 1px #000, 0 1px 0 #000, 1px 0 0 #000;
  font-size: 6.0rem; }

.icon a {
  color: rgb(250, 250, 250);
  position: fixed;
  bottom: 0;
  right: 0;
}

a:hover:before{
  transition: width 0.1s ease-in-out;
  content: "My GitHub!";
  font-family: "Readex Pro" ,Verdana, sans-serif;
  line-height: 1.2; 

  position: absolute;
  bottom: 1.0px;
  right: 55px;
}
  

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }

  main .icon {
  margin-top: 1rem; }

  main .icon a {
  padding: 0.4rem; }

  main .icon a:hover {
  color: #cf4dbe;
  transition: all 1.2s ease-in-out; }

  textarea{
    position: relative;
   
    margin-top: 220px;
    font-family: "Readex Pro" ,Verdana, sans-serif;
    line-height: 1.8; 
    text-align: center;
    
    
    width: 20%;
    height: 5%;
    
    
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #f8f8f891;
    font-size: 20px;
    resize: none;
  } 

  button {
  cursor: pointer;
  position: relative;   
  background-color: #3183fd; 
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Readex Pro" ,Verdana, sans-serif;
}

 .button:active{
  transform: scale(0.95);
   box-shadow: -2px 11px 11px -2px rgba(24, 112, 228, 0.24);
}
