* {
  box-sizing: border-box; 
  
}

  body#backdrop {
    background: url(../pictures/background.jpg);
    background-attachment: fixed;
    background-size: cover;
     }
    


h1.header {
  margin-top: 0;
  text-align: center;


  
  font-weight: 580;
  color: #fff;
  text-shadow: 8px 0 0 #000, 0 1px 1px #000, 0 1px 0 #000, 1px 0 0 #000;
  font-size: 6.0rem;

  font-family: "Readex Pro" ,Verdana, sans-serif;
  line-height: 1.5; 

 }

.icon a {
  color: rgb(250, 250, 250);
  position: fixed;
  bottom: 0;
  right: 0;
}

a:hover:before{
  transition: width 0.1s ease-in-out;
  content: "My GitHub!";
  font-family: "Readex Pro" ,Verdana, sans-serif;
  line-height: 1.2; 

  position: absolute;
  bottom: 1.0px;
  right: 55px;
}
  

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }

  main .icon {
  margin-top: 1rem; }

  main .icon a {
  padding: 0.4rem; }

  main .icon a:hover {
  color: #cf4dbe;
  transition: all 1.2s ease-in-out; }

  textarea{
    position: relative;
   
    margin-top: 175px;
    font-family: "Readex Pro" ,Verdana, sans-serif;
    line-height: 1.8; 
    text-align: center;
       
    width: 20%;
   
    border: 2px solid #ccc;
    border-radius: 25px;
    background-color: #f8f8f891;
    font-size: 20px;
    resize: none;
  } 

  button {
  cursor: pointer;
  position: relative; 
  
  background-color: #3183fd; 
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: "Readex Pro" ,Verdana, sans-serif;
}

 .button:active{
  transform: scale(0.95);
   box-shadow: -2px 11px 11px -2px rgba(24, 112, 228, 0.24);
}


.slider{
  position: relative;
  
  margin-top: 2vh;
  width: 20%;
  
  
  background: #d3d3d3;
  border-radius: 25px;
  outline: none;

}

.slider:hover {
  cursor: pointer;
}

.lengthRange,
label {
  position: relative;
    font: 1rem "Readex Pro", sans-serif;
    font-weight: 380;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0 0 #000, 0 0px 0px #000, 0 0px 0 #000, 0px 0 0 #000;
  text-align:center;
  line-height: -2.0; 
  width: 100%;
  display:block
  
}

.checkboxes{
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 74.3vh;

  text-align: center;
  background-color: rgba(68, 136, 226, 0.192);
  border-radius: 20px;
  width: 50vh;
  font-size: 2rem;
}

.container{
  font-size: 20px;
}

